@using BlazorChat.Shared
@using Services
@inject ICallService Calls
@inject IChatApiService Api
@inject IChatStateService State
@inject IStringLocalizer<Pages.Chat> Loc

<MudLayout Class="restrictheight">
    <MudAppBar ToolBarClass="row_container gap">
        <MudIconButton Variant=@(Variant.Filled) Icon=@(Icons.Filled.Settings) OnClick=@(toggleVideoControls) />
        <div class="row_container gap">
            <MudText Typo=@(Typo.h6)>@(Loc["call_title"])</MudText>
            <UserView Params=_remoteUser Size=@(Size.Medium) />
        </div>
        <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.CallEnd" Edge=@(Edge.End) Color="Color.Secondary" OnClick=hangup />
    </MudAppBar>
    <MudDrawer @bind-Open=@(_showControls) Class="column_container gap" Style="height: 100%; overflow-y: auto">
        <InputControls />
    </MudDrawer>
    <MudMainContent Class="restrictheight row_container">
        <Video Id="RemoteVideoLarge" Style="flex: 1 1 100%; height: 100%; position: relative">
            <MudCard Style="position:absolute; left: 1rem; top: 1rem">
                @if (_state == Services.ECallState.Ongoing)
                {
                    <UserView Params=_remoteUser />
                    @if (_remoteTransmitState != null)
                    {
                        @if (_remoteTransmitState.Audio)
                        {
                            <MudIcon Icon=@(Icons.Filled.Mic) />
                        }
                        @if (_remoteTransmitState.Camera)
                        {
                            <MudIcon Icon=@(Icons.Filled.Videocam) />
                        }
                        @if (_remoteTransmitState.Capture)
                        {
                            <MudIcon Icon=@(Icons.Filled.ScreenShare) />
                        }
                    }
                }
                else
                {
                    <MudText>@(_state)</MudText>
                }
            </MudCard>
            @if (_multipleVideos)
            {
                <MudButton Style="position:absolute; right: 1rem; bottom: 1rem; width: 8rem; height: auto" OnClick=@(swapVideoElements)>
                    <Video Id="RemoteVideoPreview" />
                </MudButton>
            }
        </Video>
        <audio id="RemoteAudio" autoplay style="display: none" />
    </MudMainContent>
</MudLayout>
