@if (_hasChannel)
{
    <div class="container">
        <div class="entry">
            <span class="key">Id</span>
            <span class="spacer" />
            <span class="value">@(_id)</span>
        </div>
        <div class="entry">
            <span class="key">Created</span>
            <span class="spacer" />
            <span class="value">@(_created)</span>
        </div>
        <div class="entry">
            <span class="key">Users</span>
            <span class="spacer" />
            <span class="value">@(_users)</span>
        </div>
    </div>
}