@inject Services.IChatStateService ChatStateService
@inject Services.IChatApiService ChatApiService
@inject Services.ICallService CallService
@inject IDialogService _dialogService

<div class="userlistcontainer">
    @foreach (var participant in _participantsSorted.Values)
    {
        <div class="userlistitem">
            <MudButton OnClick=@(() => openProfileViewer(participant.ProfileParams))>
                <UserView Params="participant.ViewParams" />
            </MudButton>
        </div>
    }
</div>