@using BlazorChat.Client.Services
@inject IThemeService ThemeService
@inject IChatApiService ApiService
@inject IDialogService DialogService
@inject ISnackbar SnackbarService

<div class="bottomtoolbar">
    @if (_showOptions)
    {
        <MudPaper Style="width: 100%">
            <div class="menu">
                <MudButton StartIcon=@(Icons.Filled.Logout)
                       IconColor=@(Color.Error)
                       FullWidth
                       OnClick=@(logout)>
                    Logout
                </MudButton>
                <MudButton StartIcon=@(_themeModeIcon)
                       FullWidth
                       OnClick=@(toggleDarkMode)>
                    @(_themeModeButtonText)
                </MudButton>
                <MudButton StartIcon=@(Icons.Filled.Edit)
                       FullWidth
                       OnClick=@(editUserProfile)>
                    Edit Profile
                </MudButton>
            </div>
        </MudPaper>
    }
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               EndIcon=@(_buttonIcon)
               Style="width: 100%"
               OnClick=@(toggleOptionsDisplay)>
        <UserView Params=@(_selfUserParams) Style="flex: 0 1 100%" />
    </MudButton>
</div>
