@using System.Text.Json
@using BlazorChat.Client.Services
@inject IChatApiService Api
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Nav

@* This dialog component displays a fullscreen view of a form *@

<MudDialog>
    <TitleContent></TitleContent>
    <DialogContent>
        @switch (_state)
        {
            case EState.Editing:
                <CascadingValue Value=@(_formRoot)>
                    <div class="formviewroot">
                        <FormObjectViewer Schema=_schema Form=_formRoot DisplayAlways=true />
                    </div>
                </CascadingValue>
                @if (!_validation.IsSuccess)
                {
                    <MudText Color=@(Color.Error)>Unable to submit: @(_errors)</MudText>
                }
                break;
            case EState.Submitted:
                <MudText>Form Submitted</MudText>
                break;
            case EState.Fetching:
            case EState.Uploading:
                <MudProgressCircular Indeterminate />
                break;
        }

    </DialogContent>
    <DialogActions>
        <MudButton Color=@(Color.Primary) Variant=@(Variant.Filled) OnClick=@(Submit)>Submit</MudButton>
        <MudButton Variant=@(Variant.Filled) OnClick=@(Close)>Close</MudButton>
    </DialogActions>
</MudDialog>




